# Prevent unnecessary/sensitive files from being copied into the Docker image

venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.log

# Git
.git/
.gitignore

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docs / misc
README.md